<div class="banner">
  <div class="topnav">
    <div class = "general-menu">
      <%= link_to "Home", root_path %>
      <%= link_to "Dresses", dresses_path %>
      <%= link_to "Category", dresses_path %>
    </div>
    <div class = "login-menu">
      <%= link_to "Bookings", bookings_path %>
      <%= link_to "Add Dress", new_dress_path %>
      <%= link_to "Login", user_session_path %>
      <%= link_to "Log out", destroy_user_session_path, method: :delete %>
      <%= link_to "Sign up", new_user_registration_path %>
    </div>
  </div>



  <h1>Rent my dress</h1>
  <p>Never wear the same thing twice.</p>
  <button type="button" class="btn btn-outline-light home-button"><%= link_to "Pick Now", dresses_path %></button>
</div>

<div class="description">
  <h2>Find your next night o.first-dress-showut dress.</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam at hic nulla necessitatibus modi, ipsam eaque sed beatae error consectetur tenetur ducimus iure fuga saepe, deserunt laudantium reprehenderit eligendi cum.</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-4 text-center">
      <%= link_to dresses_path, target: :_blank do %>
        <%= image_tag 'black_dress.jpg', class: 'dress-img'%>
        <h3>For Party...</h3>
      <% end %>
    </div>

    <div class="col-4 text-center">
      <%= link_to dresses_path, target: :_blank do %>
      <%= image_tag 'bridesmaid_dress.jpg', class: 'dress-img'%>
      <h3>For Wedding...</h3>
      <% end %>
    </div>

    <div class="col-4 text-center">
      <%= link_to dresses_path, target: :_blank do %>
      <%= image_tag 'grey_dress.jpg', class: 'dress-img'%>
      <h3>For Date...</h3>
      <% end %>
    </div>
  </div>
</div>


<div class="third-container">


</div>
