<h3>Edit the dress </h3>
<%= simple_form_for(@dress) do |f| %>
<%= f.input :name %>
<%= f.input :size, collection: ["UK 0","UK 2","UK 4","UK 6","UK 8","UK 10","UK 12","UK 14","UK 16"] %>
<%= f.input :price %>
<%= f.input :photo, as: :file %>
<%= f.input :category, collection: Dress.pluck(:category).uniq %>
<%= f.submit 'edit dress!' %>
<% end %>
<%= link_to "Dress index page", dresses_path %>
