<h3>Add a new photo </h3>
<%= simple_form_for(@dress) do |f| %>
<%= f.input :name %>
<%= f.input :price %>
<%= f.input :category%>
<%= f.input :photo, as: :file %>
<%= f.submit 'Create new dress!' %>
<% end %>
<%= link_to "back", dresses_path %>
