

<div class="d-flex justify-content-center">
    <h3>Upload your dress! </h3>
    <%= simple_form_for(@dress) do |f| %>
    <%= f.input :name %>
    <%= f.input :size %>
    <%= f.input :price %>
    <%= f.input :category%>
    <%= f.input :photo, as: :file %>
    <%= f.submit 'Create new dress!',  class: "btn btn-primary active mb-3" %>
    <% end %>
    <%= link_to "back", dresses_path, class: "btn btn-primary active mb-3" %>

</div>
