<div class="container pb-5">
    <!-- image and description -->
    <div class="grid">
    <div class="dress-all">

      <div class="dress-image-show">
        <%= cl_image_tag @dress.photo.key,height: 500, width: 350, crop: :fill, data: {toggle: "modal", target: "#exampleModal"} %>
        </div>
        <div class="dress-info mt-3">
          <h5 class="pb-4"><%= @dress.name %></h5>
            <p><b>Price:</b> £<%= @dress.price %></p>
            <p><b>Category:</b> <%= @dress.category %></p>
            <p><b>Size:</b> <%= @dress.size%></p>
        </div>
      </div>
    <!-- booking form and button -->
    <div class="booking-all">
      <h2 class="pb-4">Book this dress</h2>
        <%= simple_form_for [@dress, Booking.new] do |f| %>
          <%= f.input :start_date, as: :date, html5:true, input_html: { value: Date.today } %>
          <%= f.input :end_date,as: :date, html5:true, input_html: { value: Date.today + 1 } %>
          <%= f.submit class: "btn btn-light mt-3 create-booking-button" %>
      <% end %>


      <div class="show-ratings pt-4">
        <h3>User Review</h3>
          <% @dress.reviews.each do |review|%>
          <p></p>
            <div class="border ratings-table">
              <p><%= "⭐" * (review.rating.to_i) %></p>
              <p><%= review.content %></p>
            </div>
          <% end %>
        </div>

      <% if Booking.where(dress: @dress).where(user: current_user).any? %>
        <h3 class="pt-5">Add Review</h3>
          <%= simple_form_for [@dress, Review.new] do |f| %>
            <%= f.input :rating, collection: 1..5  %>
            <%= f.input :content %>
            <%= f.submit class: "btn btn-light mt-3 create-booking-button" %>
          <% end %>
      <% end %>
    </div>

      <div><h2>You may also like...</h2></div>
      <br>
      </div>
      <%= render "dress_carousel", dresses: @dresses, original_dress: @dress %>

      </div>
</div>

  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><%= @dress.name %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= cl_image_tag @dress.photo.key, class: "modal-img-w" %>
      </div>
    </div>
  </div>
</div>
