<div>
<p><%= link_to"dress index page", dresses_path %></p>
<h2>Dress show page</h2>
<%= @dress.name %>
<%= @dress.price %>
<%= @dress.category %>
<%= @dress.size%>
<%= link_to "edit dress", edit_dress_path %>
</div>

<% @dress.reviews.each do |review|%>
<p><%= review.rating %></p>
<p><%= review.content %></p>
<% end %>

<p><%= link_to "Book", new_dress_booking_path(@dress) %></p>
<p><%= link_to "Adding Review", new_dress_review_path(@dress) %></p>
<p><%= link_to "Back", dresses_path %></p>
<%= link_to "delete", dress_path(@dress), method: :delete, data: { confirm: "Are you sure?"}%>
