<div>
<p><%= link_to"dress index page", dresses_path %></p>
<h2>Dress show page</h2>
<%= cl_image_tag @dress.photo.key,height: 350, width: 250, crop: :fill %>
<%= @dress.name %>
<%= @dress.price %>
<%= @dress.category %>
<%= @dress.size%>

</div>

<h2>Add Booking</h2>
<%= simple_form_for [@dress, @booking] do |f| %>
  <%= f.input :start_date, as: :date, html5:true%>
  <%= f.input :end_date,as: :date, html5:true %>
  <%= f.input :confirm %>
  <%= f.submit class: "btn btn-primary" %>
<% end %>

<h2>Add Review</h2>
<%= simple_form_for [@dress, @review] do |f| %>
  <%= f.input :rating %>
  <%= f.input :content %>
  <%= f.submit class: "btn btn-primary" %>
<% end %>

<% @dress.reviews.each do |review|%>
<p><%= review.rating %></p>
<p><%= review.content %></p>
<% end %>

<p><%= link_to "Back", dresses_path %></p>
<%= link_to "Delete the dress", dress_path(@dress), method: :delete, data: { confirm: "Are you sure?"}%>

